[Unit]
Description=Meilisearch: Lightning Fast Search Engine
After=systemd-user-sessions.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=/usr/bin/meilisearch --http-addr 127.0.0.1:__PORT__ --env production --master-key __API_KEY__ --no-analytics __ANALYTICS__

[Install]
WantedBy=multi-user.target
